<div>
  <mat-card>
    <h3>Reset Password</h3>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <mat-form-field>
        <input type="{{ type }}" #password formControlName="password" matInput placeholder="Password">
        <mat-icon id="passwordVisible" (click)="visibility()" matSuffix>{{ hide ? 'visibility_off' : 'visibility_on' }}
        </mat-icon>
        <mat-hint>{{authInformation.passwordHint}}</mat-hint>
        <mat-error>Invalid password</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" formControlName="confirmPassword" matInput placeholder="ConfirmPassword">
        <mat-error>Password missmatch</mat-error>
      </mat-form-field>
      <span id="errorSpace"></span>
      <button type="submit" class="registerButton" mat-raised-button>Send</button>
      <span id="buttonSpace"></span>
      <button mat-raised-button color="warn" type="reset">Reset</button>
    </form>
  </mat-card>
</div>
