div{
  margin-top: 200px;
  min-height: 600px;
}
mat-card{
  width:30%;
  margin : auto;
}
mat-form-field{
  width: 100%
}
button{
  width: 100%
}
.registerButton{
  background-color:#2a65ea;
  color: antiquewhite
}
#buttonSpace{
  margin-right: 10px
}
#passwordVisible{
  cursor: pointer;
}
#errorSpace{
  margin-right: 10px
}
h3{
  font-family: 'Rubik', sans-serif;
  text-align: center
}
