<ul class="user-list">
  <div class="username-tab" *ngFor="let user of chatListUsers">
    <li class="display-name" (click)="selectedUser(user)" [class.active]="isUserSelected(user.id)">
      <span *ngIf="!mobile">{{ user?.firstName }}</span>
      <span *ngIf="mobile">{{ (user?.firstName.length>6)? (user?.firstName | slice:0:6)+'...':(user?.firstName) }}</span>
      <span [ngClass]="user.online === 'Y' ? 'online' : 'offline'"> </span>
    </li>
  </div>
</ul>
<div class="alert" info="!chatListLoading" *ngIf='chatListUsers.length === 0'>
  {{ loadingChatMessage }}
</div>
