
.padd {
  padding-left: 10px;
}

.imgstyle {
  height: 25px;
  width: 25px;
}

footer {
  background-color: #333333 !important;
    color: #fff !important;
    position: relative;
    margin-top: 5%;

}
.firstrow {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  margin-top: 4%;
}
.address {
  margin-top: 1%;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
}
.copyright {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  margin-top: 0%;
}

.social-media {
  margin-top: 0%;
}
.knowus {
  cursor: pointer;
}
