<div id="forgotPassword">
  <mat-card>
    <h3>Reset Password</h3>
    <hr>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <mat-form-field>
        <input type="email" formControlName="email" matInput placeholder="Email">
        <mat-error>Please enter valid email address</mat-error>
      </mat-form-field>
      <button type="submit" id="submitButtton" class="registerButton" mat-raised-button>Send</button>
      <span id="spaceButton"></span>
      <button mat-raised-button color="warn" class="registerButton" (click)="reset()">Reset</button>
    </form>
  </mat-card>
</div>
