mat-card {
  width : 30%;
  margin : auto
}
mat-form-field {
  width:100%
}
#forgotPassword {
  margin-top: 200px;
  min-height: 400px
}
button {
  width:100%;
}

.registerButton {
  width: 100%;

}

#spaceButton{
  margin-left: 10px
}
h3 {
  font-family: 'Rubik', sans-serif;
  text-align: center
}
#submitButtton{
  background-color:#2a65ea;
  color: antiquewhite
}
