h1{
  color: lightcoral;
  font-family: 'Rubik', sans-serif;
  text-align: center;

}
#errorHandler{
  width: auto;
  height: auto;
  margin : auto
}
button{
  margin: auto
}
#outerDiv{
  width: auto;
  height: auto;
  margin : auto
}
