.title b {
  font-size: 150%;
}

.main {
  font-family: 'Rubik', sans-serif;
}

.lineGap {
  padding-right: 10px;
}

#iconColor:hover {
  cursor: pointer;
}

#iconColor {
  color: red;
  font-weight: bold;
  width: 25px;
}

.clearButton {
  float: right;
  background: transparent;
  margin-top: -22px;
  margin-right: -24px;
  border: none;
  outline: none;
}
