<div class="main">
  <button mat-dialog-close class="clearButton" *ngIf="!soldToggle">
    <mat-icon id="iconColor">clear</mat-icon>
  </button>
  <span class="title" *ngIf="!soldToggle">
    <b>Remove Mobile</b>
    <p></p>
    Which operation do you wanna perform?
  </span>
  <p></p>
  <form [formGroup]="buyerUserNameForm" (ngSubmit)="buyerUserName()">
    <p *ngIf="soldToggle" class="displaySize">
      <span matPrefix><b>Buyer User Name: </b> <span class="linegapLastName"></span></span>
      <mat-form-field class="inputFieldStyle">
        <input matInput type="input" formControlName="buyerUserName" />
        <mat-error>Enter a valid buyer user name</mat-error>
      </mat-form-field>
    </p>
    <button type="button" (click)="updateSoldToggle()" class="updateButton" *ngIf="!soldToggle" mat-raised-button
      color="primary">
      Sold
    </button>
    <span class="lineGap"></span>
    <button (click)="deleteMobile()" type="button" class="cancelButton" *ngIf="!soldToggle" mat-raised-button
      color="warn">
      Delete
    </button>
    <button type="submit" *ngIf="soldToggle" class="updateButton" [disabled]="!buyerUserNameForm.valid"
      mat-raised-button color="primary">
      Confirm
    </button>
    <span class="lineGap"></span>
    <button (click)="updateSoldToggle()" *ngIf="soldToggle" class="cancelButton" mat-raised-button color="warn">
      Cancel
    </button>
  </form>
</div>
