/* You can add global styles to this file, and also import other style files */
@import "./styles/main";
@import "./styles/responsive";

body {
  margin: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
}
html {
  height: 100%;
}

.red-snackbar {
  background-color: rgba(196, 5, 5, 0.966);
}

.green-snackbar {
  background-color: rgb(19, 163, 91);
}

#loadingSpinner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50px;
  width: 100px;
  height: 100px;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: -30px;
  box-sizing: border-box;
  border: 14px solid #cef;
  border-color: blueviolet transparent blueviolet transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
