<div class="background-panels">
  <div *ngFor="let backgroundPanel of backgroundPanels"></div>bottomSpeakers
</div>
<div class="phone">
  <div class="phone-back">
    <div class="phone-left-side">
      <div class="phone-antena"></div>
      <div class="phone-button top"></div>
      <div class="phone-button"></div>
      <div class="phone-button bottom"></div>
      <div class="phone-antena bottom"></div>
    </div>
    <div class="phone-bottom">
      <div class="phone-antena"></div>
      <div class="bottom-speaker">
        <div *ngFor="let bottomSpeaker of bottomSpeakers"></div>
      </div>
      <div class="phone-screw">
        <div></div>
      </div>
      <div class="phone-charger">
      </div>
      <div class="phone-screw right">
        <div></div>
      </div>
      <div class="bottom-speaker right">
        <div *ngFor="let bottomSpeaker of bottomSpeakers"></div>
      </div>
      <div class="phone-antena right"></div>
    </div>
  </div>
  <div class="phone-screen"></div>
  <div class="phone-display">
    <div class="phone-notch">
      <div class="phone-speaker"></div>
    </div>
    <div class="display-content">
      <div class="notifications-bar">
        <div class="time">9:41</div>
        <div class="range"></div>
        <div class="wifi"></div>
        <div class="battery"></div>
      </div>
      <div class="nav">
        <div class="messages"></div>
        <div class="phone-number">+91 0-674-394-3444</div>
        <div class="menu"></div>
      </div>
      <div class="current-plan">
        <div class="plan">
          <div>
            <div class="plan-header"><b>Sell Mobiles Project</b></div>
            <div class="plan-price">Team Name:<br>
              <p> CODE FREAKS</p>
            </div>
          </div>
          <div class="plan-date">
            <div>JAN 17TH</div>
            <div>APR 22TH</div>
          </div>
        </div>
      </div>
      <div class="plan-box">
        <div class="plan-options">
          <div>
            <div>8</div>
            <div>Developers</div>
          </div>
          <div>
            <div>2</div>
            <div>Testers</div>
          </div>
        </div>
        <div class="plan-text"><strong>10 members</strong> team made this website</div>
        <a class="change-plan" href="">Know us</a>
      </div>
      <div class="plan-list">
        <div class="plan-limit">
          <table class="limit-text">
            <tr>
              <th class="name-1">Aniket</th>
              <th>Harsha</th>
            </tr>
            <tr>
              <th class="name-1">Pavan Aditya</th>
              <th>Praneetha</th>
            </tr>
            <tr>
              <th class="name-1">Rahul Mehta</th>
              <th>Shaibalini</th>
            </tr>
            <tr>
              <th class="name-1">Soumya</th>
              <th>Suraj</th>
            </tr>
            <tr>
              <th class="name-1">Chaithra</th>
              <th>Jagadeesh</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="bottom-icons">
        <div class="chart">
          <a href="https://www.facebook.com">f</a>
        </div>
        <div class="eye">
          <div></div>
        </div>
        <div class="equalizer">
          <div *ngFor="let equalizer of equalizers"></div>
        </div>
      </div>
      <div class="home-button"></div>
    </div>
  </div>
  <div class="phone-reflections">
    <div class="reflection-1"></div>
    <div class="reflection-2"></div>
    <div class="reflection-3"></div>
    <div class="reflection-4"></div>
    <div class="reflection-5"></div>
    <div class="reflection-6"></div>
    <div class="reflection-7"></div>
  </div>
</div>
